
<header id="header">        
    <div>  
        <h4>CSV Uploader and viewer</h4>      
    </div>
        <div id="links-div">
            <a href=>HOME</a>
            <a href="">Upload</a>
            <a href="">Sign-In</a>
        </div>
        <!-- if user is signed in then show his name as well -->
</header>