<link rel="stylesheet" href="/css/signin.css">
<header id="header">        
    <div>  
        <h4>CSV Uploader and viewer</h4>      
    </div>
        <div id="links-div">
            <a href="/">HOME</a>
            <a href="/upload">Upload</a>
            <a href="/users/sign-in">Login</a>
            <a href="/users/sign-up">Register</a>
        </div>
        <!-- if user is signed in then show his name as well -->
</header>