<link rel="stylesheet" href="/css/signin.css">
<header id="header">        
    <div>  
        <h4>CSV Uploader and viewer</h4>      
    </div>
    <% if(locals.user) { %>

        <div id="links-div">
            <a><%= user.name.toUpperCase()%></a>
            <a href="/">HOME</a>
            <a href="/upload/upload-home">Upload</a>
            
            <a href="/users/signout">Logout</a>
        </div>

    <% }else {%>
        <div id="links-div">
            <a href="/">HOME</a>
            <a href="/upload/upload-home">Upload</a>
            <a href="/users/sign-in">Login</a>
            <a href="/users/sign-up">Register</a>
        </div>
    <% } %>
        <!-- if user is signed in then show his name as well -->
</header>