<link rel="stylesheet" href="<%= assetPath('css/signin.css') %>">
<div id="sign-up-div">
    
    <div id="user_sign_up">
        <p id="for-google-signup"><a><strong>Login</strong></a></p>
        ----------------
        <form action="/users/create-session" method="post" id="user_sign_in_form">           
           
            <input type="email"      name="email" id="user-email"       placeholder="Enter your Email Id">
            <input type="password"   name="password" id="user-pword"    placeholder="Enter your Password">
           
            <input type="submit" value="LOGIN" id="submit-btn">
        </form>
        <p id="for-sign-in">New User<a href="/users/sign-up"> Register</a>  </p>
    </div>
   
</div>