
<link rel="stylesheet" href="/css/upload.css">
<div id="upload-outer-div">
    <div id="innerdiv">
        <form action="/upload/file/?id=<%=user.id%>" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file" accept=".csv">
            <input type="text" 
                   name="typeofdata" 
                   placeholder="What data does this file contain" 
                   required
                   >
            <input type="submit" value="Submit" onclick="fileValidator()">
        </form>
    </div>
<script src="/js/upload.js"></script>
</div>