#sign-up-div{
    background-color: rgb(202, 207, 195);
    border-radius: 10px;
    margin:auto;
    margin-top: 30px;
    width:25%;
    text-align: center;
    #user_sign_up{
        // padding: 5%;
        margin: auto;
        display: flex;
        flex-direction: column;
        #user_sign_up_form{
            padding: 5%;
            display: flex;
            flex-direction: column;
            input{
                margin:3px;
                border:none;
                height:30px;
                padding: 5px;
                border-bottom: 1px solid black;
                background-color: rgb(222, 228, 235);
                color: black;
            }
            #submit-btn{
                margin:auto;
                margin-top: 20px;
                background-color: rgb(228, 172, 69);
                height:30px;
                border-radius: 5px;
                border: none;
                width:40%;                
            }
            #submit-btn:hover{
                background-color: rgb(69, 164, 228);
            }
        }
    }
    

}